{{#each messages as |message|}}
  {{log message}}
  <section data-id="{{message.id}}">
    <p>
      {{#if message.text}}
        {{message.user_name}}
        {{message.text}}
      {{else}}
        No message provided.
      {{/if}}
    </p>
  </section>

{{/each}}
